body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

h1 {
    margin-bottom: 5px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

canvas {
    border: 10px solid gray;
}

input, p {
    background-color: black;
    border: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}